html {
    display: f;
    background: linear-gradient(157deg, rgba(2,0,36,1) 0%, rgba(0,116,217,1) 50%, rgba(46,204,64,1) 100%);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: rgba(2,0,36,1);
}

body {
    margin: 0;
}

h2 {
    font-weight: 900;
    font-size: 30pt;
    text-transform: uppercase;
    line-height: 35pt;
    color: #fff;
}

h3 {
    text-transform: uppercase;
}

p {
    color: #fff;
    font-style: normal;
    text-align: justify;
    font-size: 12pt;
    line-height: 20px;
}

button:hover {
    cursor: pointer;
}

.br {
    display: block;
    height: 20px;
    padding: 2;
  }

/*  Header  */

header.myheader {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 30px 0 30px 0;
}

div.navbar {
  position: fixed;
  z-index: 2;
    height: auto;
    width: 90%;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
    flex-direction: row;
    margin: 3% 2% 0 2%;
    background-color: #fff;
    border-radius: 5px;
    padding: 20px;
    box-shadow: 0 3px 8px 5px rgba(0, 0, 0, 0.425), 0px 0px 0px 1px #2ecc40;
}

div.navbar1 a:-webkit-any-link {
  height: 100%;
  text-decoration: none;
    font-weight: 800;
    color: #0074d9;

    
}

div.navbar1:hover a:-webkit-any-link {
    color: #2ecc40;
}

div.navbar2{
  height: 100%;
    width: 30%;
}

nav.navbar3{
  height: 100%;
    width: 40%;
}

/*  Menú principal  */

ul.menuprincipal {
    display: flex;
    justify-content: end;
    margin: 5px;
}

li.menuprincipalonb {
    list-style: none;
    width: 100%;
    margin: 0 5px;
    padding: 0 1%;
}

.menuprincipal a {
    width: 80px;
    display: block;
    text-decoration: none;
    color: #0074d9;
    font-weight: 700;
}

.menuprincipal a:hover {
    color: #2ecc40;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

/* Media queries 760px */


.icon-navbar {
    display: none!important;
}

.change {
    display: none;
}

@media (max-width: 760px) {

  header.myheader {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 10px 30px 10px;
  }

  div.navbar {
    position: fixed;
    z-index: 2;
      height: auto;
      width: 70%;
      display: flex;
      justify-content: center;
      justify-content: space-between;
      justify-items: center;
      align-items: center;
      flex-direction: row;
      margin: 7% 2% 0 2%;
      background-color: #fff;
      border-radius: 5px;
      padding: 20px;
  }

    .navbar3 {
        display: flex;
        align-items: end;
        flex-direction: column;
    }
    
    ul.menuprincipal {
        display: none;
    }

    .icon-navbar {
        font-size: 18pt;
        display: inline-block!important;
        color: #0074d9;
    }

    .icon-navbar:active {
        color: #2ecc40;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 900;
    }


    .change:checked ~ ul.menuprincipal {
        display: inline-block;
    }


}


/* Hero */

div.hero {
    display: flex;
    margin-top: 6%;
}

.hero {
  height: 35em;
  width: auto;
  margin-top: 50px;
  margin-left: 50px;
  margin-right: 50px;
  margin-bottom: 50px;
  box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.562);
}


/* Columna 1 */

div.hero1 {
    flex-grow: 1;
    height: auto;
    width: 100%;
    flex-direction: column;
    align-items: center;
    padding: 5% 5% 0% 10%;
}

.ttl {
    font-weight: 900;
    font-size: 30pt;
    text-transform: uppercase;
    line-height: 35pt;
    color: #fff;
    text-align: left;
}

/*Columna 2*/

div.hero2 {
    flex-grow: 1;
    width: 100%;
    height: auto;
    margin-left: 5%;
    visibility: visible;
    background-image: url('/imagenes/Prtf.png');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

/* Botones del hero */

.botones {
    display: flex;
    margin: 10px;

}

.botones1:nth-of-type(1) {
    margin: 10px;
    height: 40px;
    width: 40%;
    border: none;
    border-radius: 8px;
    background-color: #2ecc40;
    padding: 2%;
    text-transform: uppercase;
    font-weight: 600;
    color: #fff;
    box-shadow: 0 2px 4px 3px rgba(0, 0, 0, 0.425);
}

.botones1:nth-of-type(2) {
    margin: 10px;
    height: 40px;
    width: 40%;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    padding: 2%;
    text-transform: uppercase;
    font-weight: 600;
    color: #0074d9;
    box-shadow: 0 2px 4px 3px rgba(0, 0, 0, 0.425);   
}

/* Cursor sobre los botones*/

.botones1:nth-of-type(1):hover {
    margin: 10px;
    height: 50px;
    width: 40%;
    border: none;
    border-radius: 8px;
    background-color: #0074d9;
    padding: 1%;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 14pt;
    color: #fff;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px 5px rgba(255, 255, 255, 0.425);
}

.botones1:nth-of-type(2):hover {
    margin: 10px;
    height: 45px;
    width: 40%;
    border: none;
    border-radius: 8px;
    background-color: #0074d9;
    padding: 1%;
    text-transform: uppercase;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 14pt;
    line-height: 14pt;
    color: #fff;
    align-items: center;
    justify-content: center;
    box-shadow: 0 2px 5px 5px rgba(255, 255, 255, 0.425);
}


/* - Media querys Hero - */

@media (max-width: 760px) {

    div.hero {
      display: flex !important;
      align-items: center;
      margin-top: 18%;
    }


    .hero {
        flex-direction: column !important;
        justify-content: center !important;
        align-items: center !important;
        height: 40em;
        width: 80%;
        margin: 8%;
        padding-top: 2% !important;
        padding-right: 2% !important;
        padding-left: 2% !important;
        padding-bottom: 0% !important;
    }

    .hero1 {
        height: 50% !important;
        width: 80% !important;
        margin-bottom: 0% !important;
        padding-top: 2% !important;
        padding-right: 5% !important;
        padding-left: 5% !important;
        padding-bottom: 20px !important;
    }
    
    .ttl {
        font-weight: 900;
        font-size: 16pt;
        text-transform: uppercase;
        line-height: 24pt;
        color: #fff;
        text-align: center;
    }

    .botones1 {
      font-size: 0.6em;
    }
    .botones1:nth-of-type(1):hover {
      font-size: 0.7em;
    }

    .botones1:nth-of-type(2):hover {
      font-size: 0.7em;
      line-height: 0.8em;
    }
    
    p {
      color: #fff;
      text-align: justify;
      line-height: 16px;
      font-size: 10pt;
  }
    
    /*Columna 2*/
    
    .hero2 {
        width: 100% !important;
        height: 50% !important;
        margin-top: 20px !important;
        margin-bottom: 0px !important;
        padding-top: 10em !important;
        padding-right: 0% !important;
        padding-left: 0% !important;
        padding-bottom: 0% !important;
        visibility: visible;
        background-image: url('imagenes/Prtf.png');
        background-size: cover !important;
        background-repeat: no-repeat !important;
        background-position: top !important;
    }

}

.parteuno {
    display: flex;
    flex-direction: column;
    margin: 5%;
    background-color: #fff;
    padding: 2% 5%;
}

.parteuno p {
    color: #000;

}

.ptc {
    width: auto;
    height: auto;
    margin: 0 0 5% 0;
    border: 0;
    padding: 10% 10%;
    background-color: #000;
    vertical-align: baseline;
    text-align: center;
    }

/* Tarjetas */

div.sbrmi {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: auto;
}

.trj {
    margin: 3%;
    display: flex;
    flex-direction: row;
    padding-bottom: 5%;
}

.tarjeta1 {
    position: relative;
    margin: 1%;
    width: 20em;
    height: 20em;
    padding:  2% 3%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.562);
  }

  .tarjeta1:hover {
    transform: rotateY(180deg);
    background-color: #0074d9;
    height: 20em;
  }

  .tarjeta2 {
    position: relative;
    margin: 1%;
    width: 20em;
    height: 20em;
    padding:  2% 3%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.562);
  }
  
  .tarjeta2:hover {
    transform: rotateY(180deg);
    background-color: #0074d9;
    height: 20em;
  }

  .tarjeta3 {
    position: relative;
    margin: 1%;
    width: 20em;
    height: 20em;
    padding:  2% 3%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.562);
  }
  
  .tarjeta3:hover {
    transform: rotateY(180deg);
    background-color: #0074d9;
    height: 20em;
  }

  .tarjeta4 {
    position: relative;
    margin: 1%;
    width: 20em;
    height: 20em;
    padding:  2% 3%;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.562);
  }
  
  .tarjeta4:hover {
    transform: rotateY(180deg);
    background-color: #0074d9;
    height: 20em;
  }
  
  .cara {
    padding: 4% 4%;
    position: absolute;
    backface-visibility: hidden;
    text-align: center;
  }
  
  .cara.detras {
    transform: rotateY(180deg);
    height: auto;
    width: auto;
    padding: auto;
    /*
    padding-top: 5%;
    padding-left: 10%;
    padding-right: 10%;
    padding-bottom: 5%;
    */
  }
  
  .cara.detras p {
    padding: 20px;
    text-align: center;
  }
  
  /* Media Queries - tarjetas */

  @media (max-width: 768px) {

    .trj {
        margin: 3%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    h2 {
        font-size: 14pt;
    }

    h3 {
        font-size: 10pt;
    }

}

/*  --- Tarjetas 2: Servicios ---  */

div.dservicios {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: auto;
}

.tarjetas2 {
    display: flex;
    flex-direction: row;
    flex: auto;
    margin: 1% 5%;
    width: auto;
    height: 100%;
    align-items: center;
    justify-content: center;
}

@property --rotate {
    syntax: "<angle>";
    initial-value: 132deg;
    inherits: false;
  }
  
  :root {
    --servicios-height: 65vh;
    --servicios-width: calc(var(--card-height) / 1.5);
  }

  .tarjetas2 > * { flex: 1 4 20px; /* ancho y alto fijos */ }

.servicios {
    background: rgba(2,0,36,1);
    display: flex;
    width: var(--servicios-width);
    height: var(--servicios-height);
    padding: 3% 1%;
    margin: 2%;
    width: 100%;
    height: 5em;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    color: #fff;
    align-content: stretch;
  }
  
  .servicios:hover {
    color: #2ecc40;
    transition: color 0.5s;
    background-color: #fff;
    box-shadow: 0 3px 8px 5px rgba(0, 0, 0, 0.425), 0px 0px 0px 1px #2ecc40;
}

  .servicios:hover:before, .servicios:hover:after {
    animation: none;
    opacity: 0;
  }
  
  
  .servicios::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    background-image: linear-gradient(
      var(--rotate)
      , #2ecc40 43%, #0074d9 );
      position: absolute;
      z-index: -1;
      top: -1%;
      left: -2%;
      animation: spin 8.5s linear infinite;
      box-shadow: 0 3px 8px 5px rgba(0, 0, 0, 0.425);
  }
  
  .servicios::after {
    position: absolute;
    content: "";
    top: calc(var(--servicios-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--servicios-height) / 6));
    background-image: linear-gradient(
      var(--rotate)
      , #2ecc40 43%, #0074d9 );
    opacity: 1;
    transition: opacity .5s;
    animation: spin 8.5s linear infinite;
  }
  
  @keyframes spin {
    0% {
      --rotate: 0deg;
    }
    100% {
      --rotate: 360deg;
    }
  }


  /* Media Queries - tarjetas 2 */

  @media (max-width: 768px) {

    .dservicios {
      margin: 5% 0%;
    }

    .tarjetas2 {
        display: flex;
        flex-direction: column;
        margin: 0 10% 0 15%;
        width: auto;
        height: 30em;
        align-items: center;
        justify-content: center;
    }

    .servicios {
        background: rgba(2,0,36,1);
        width: var(--servicios-width);
        height: var(--servicios-height);
        padding: 3% 1%;
        margin: 2%;
        width: 70%;
        height: 100;
    }

    .prtfolio {
      margin: 5% 0%;
    }

}

/* --- Portfolio --- */

div.prtfolio {
  display: flex;
  flex-direction: column;
  height: 100%;
  width: auto;
}

.tarjetaemp1 {
    background: rgba(2,0,36,1);
    width: var(--servicios-width);
    height: var(--servicios-height);
    padding: 3% 1%;
    margin: 2%;
    width: 100%;
    height: 5em;
    position: relative;
    border-radius: 6px;
    justify-content: center;
    align-items: center;
    text-align: center;
    display: flex;
    color: #fff;
    transform-style: preserve-3d;
    transition: transform 0.5s;
    box-shadow: 0px 10px 20px 5px rgba(0, 0, 0, 0.562);
  }

  .tarjetaemp1:hover:before, .tarjetaemp1:hover:after {
    animation: none;
    opacity: 0;
  }
  
  
  .tarjetaemp1::before {
    content: "";
    width: 104%;
    height: 102%;
    border-radius: 8px;
    /* background-image: linear-gradient(
      var(--rotate)
      , #2ecc40 43%, #0074d9 ); */
    position: absolute;
    z-index: -1;
    top: -1%;
    left: -2%;
    animation: spin 8.5s linear infinite;
    box-shadow: 0 3px 8px 5px rgba(0, 0, 0, 0.425);
  }
  
  .tarjetaemp1::after {
    position: absolute;
    content: "";
    top: calc(var(--servicios-height) / 6);
    left: 0;
    right: 0;
    z-index: -1;
    height: 50%;
    width: 100%;
    margin: 0 auto;
    transform: scale(0.8);
    filter: blur(calc(var(--servicios-height) / 6));
    background-color: #0074d9;
    /* background-image: linear-gradient(
      var(--rotate)
      , #2ecc40 43%, #0074d9 ); */
    opacity: 1;
    transition: opacity .5s;
    animation: spin 8.5s linear infinite;
  }

  .tarjetaemp1:hover {
    transform: rotateY(180deg);
    background-color: #ffffff;
    cursor: pointer;
  }

  /* --- Contacto --- */

  div.contacto {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: auto;
    padding: 5%;
    background-color: #000;

  }

  .ctt {
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 80%;
  }
   .trjcontacto {
    height: 50%;
    width: 50%;
    padding: 5%;
   }
   
   .dtcontacto {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: 0;
    padding: 0;
  }

.dtcontacto1 {
  padding: 5%;
}

.dtcontacto2 {
  padding: 5%;
}

   .dtcontacto1 a:-webkit-any-link {
    list-style: none;
    text-decoration: none;
    color: #fff;
    padding: 5%;
   }

   .dtcontacto2 a:-webkit-any-link {
    list-style: none;
    text-decoration: none;
    color: #fff;
    padding: 5%;
   }

   .cttimg {
    filter: invert(100%) sepia(0%) saturate(7424%) hue-rotate(341deg) brightness(97%) contrast(117%);
    width: 15%;
    height: 15%;
  }

  .cttimg:hover {
    filter: invert(71%) sepia(11%) saturate(3067%) hue-rotate(74deg) brightness(90%) contrast(91%);
  }

  .dtcontacto1 a:-webkit-any-link > li {
    padding: 5%;
  }

  .dtcontacto2 a:-webkit-any-link > li {
    padding: 5%;
  }

.dtcontacto1:hover a:-webkit-any-link {
    color: #2ecc40;
}

.dtcontacto2:hover a:-webkit-any-link {
  color: #2ecc40;
}

/* - Media querys Contacto - */

@media (max-width: 760px) {

  .ctt {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    width: auto;
  }

  .trjcontacto {
    padding-top: 0;
    padding-bottom: 0;
  }
}

/* Footer */

.cfooter {
  text-align: center;
  padding: 0.5% 5% 0.5% 2%;
  cursor: none;
}